{% extends "layout.html" %}
{% block contenido %}
{% import "_macros.html" as macros %}
 
<h1>Distancia entre dos puntos</h1>
<form action="/distancia" method="post" novalidate>
    {{ macros.render_field(form.x1) }}
    {{ macros.render_field(form.y1) }}
    {{ macros.render_field(form.x2) }}
    {{ macros.render_field(form.y2) }}
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
 
<p class="alert alert-success">La distancia entre los puntos
    <strong>({{x1}}, {{y1}}), ({{x2}}, {{y2}})</strong>
    es: <strong>{{dist|round(4)}}</p></strong>
 
 
{% endblock %}